.artigos-entry {
    display: flex;
    gap: 1rem;
    min-height: 200px;
}

.artigos-entry .entry-image {
    width: 35%;
    border-radius: 5px;
}

.artigos-entry .entry-title {
    width: 100%;
    font-size: 24px;
}

.artigos-entry .entry-title a {
    color: #3a3a3a;
    font-weight: semibold;
}

.artigos-entry .entry-title a:hover {
    color: #515151;
}

/*
.artigos-entry .entry-title > h3 {
    margin: 0;
}
*/

@media only screen and (max-width: 600px) {
    .artigos-entry {
        min-height: 100px;
    }

    .artigos-entry .entry-image {
        width: 45%;
    }

    .artigos-entry .entry-title {
        font-size: 18px;
    }
}