.destaques {
    min-height: 600px;
    width: 100%;
}

.flex-destaques {
    display: flex;
    gap: 1rem;
}

@media only screen and (max-width: 600px) {
    .flex-destaques {
        flex-direction: column;
    }

    .flex-destaques-vertical {
        height: 100%;
    }

    .destaques {
        min-height: 0 !important;
    }

    .flex-destaques-vertical > a {
        min-height: 150px !important;
    }
}

.flex-destaques-vertical {
    width: 100%;
    flex-direction: column;
}

.flex-destaques-vertical > a {
    border-radius: 10px;
    background-color: gray;
    color: white;
    height: 100%;
    padding: 1rem;
    min-height: 0;
    overflow: hidden;
}

.flex-destaques-vertical > a:hover {
    color: white;
}