.cabecalho {
    display: flex;
    width: 100%;
    padding: 1rem 2rem 1rem 2rem;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    color: rgb(26, 26, 26);
    background-color: rgba(248, 190, 0, 0.897);
    /* word-break: normal; */
}

.cabecalho-itens {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1400px;
    width: 100%;
}

.cabecalho-itens > div {
    width: 100%;
    font-size: 20px;
}